In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

#### Supermarket data

In [2]:
url_supermarket = 'https://raw.githubusercontent.com/kansjs/IBM_applied_capstone_share/master/Supermarkets.2.8.20.csv'
supermarket = pd.read_csv(url_supermarket)
supermarket.head()

                      Venue   Latitude  Longitude Venue Category
0              Trader Joe's  39.188164 -76.795467    Supermarket
1                    Target  39.197493 -76.813360  Big Box Store
2                     Giant  39.210065 -76.778580    Supermarket
3  Green Valley Marketplace  39.206965 -76.729124    Supermarket
4                   Safeway  39.251080 -76.818721    Supermarket

In [3]:
supermarket.shape

(311, 4)

In [4]:
supermarket['Venue Category'].unique()

array(['Supermarket', 'Big Box Store', 'Grocery Store', 'Cupcake Shop',
       'Gourmet Shop', 'Eastern European Restaurant',
       'Miscellaneous Shop', 'Liquor Store', 'Bakery', 'Butcher'],
      dtype=object)

In [5]:
supermarket_list = ['Supermarket', 'Big Box Store', 'Grocery Store']

In [6]:
supermarket = supermarket.loc[supermarket['Venue Category'].isin(supermarket_list)]
supermarket.head()

                      Venue   Latitude  Longitude Venue Category
0              Trader Joe's  39.188164 -76.795467    Supermarket
1                    Target  39.197493 -76.813360  Big Box Store
2                     Giant  39.210065 -76.778580    Supermarket
3  Green Valley Marketplace  39.206965 -76.729124    Supermarket
4                   Safeway  39.251080 -76.818721    Supermarket

In [7]:
supermarket.shape

(303, 4)

In [8]:
supermarket = supermarket.assign(food_group = 'Supermarket')
supermarket.head()

                      Venue   Latitude  Longitude Venue Category   food_group
0              Trader Joe's  39.188164 -76.795467    Supermarket  Supermarket
1                    Target  39.197493 -76.813360  Big Box Store  Supermarket
2                     Giant  39.210065 -76.778580    Supermarket  Supermarket
3  Green Valley Marketplace  39.206965 -76.729124    Supermarket  Supermarket
4                   Safeway  39.251080 -76.818721    Supermarket  Supermarket

#### Fast food data

In [9]:
url_fast_food = 'https://raw.githubusercontent.com/kansjs/IBM_applied_capstone_share/master/Fast_food.2.8.20.csv'
fast_food = pd.read_csv(url_fast_food)
fast_food.head()

                    Venue   Latitude  Longitude        Venue Category
0             Chick-fil-A  39.197625 -76.818496  Fast Food Restaurant
1  Tropical Smoothie Cafe  39.194549 -76.818504                  Café
2               Five Guys  39.194824 -76.818855  Fast Food Restaurant
3     Qdoba Mexican Grill  39.199208 -76.819599  Fast Food Restaurant
4             Chick-fil-A  39.235150 -76.814688  Fast Food Restaurant

In [10]:
fast_food.shape

(1245, 4)

In [11]:
fast_food['Venue Category'].unique()

array(['Fast Food Restaurant', 'Café', 'Indian Restaurant',
       'Mexican Restaurant', 'Bar', 'American Restaurant',
       'Breakfast Spot', 'Sandwich Place', 'Chinese Restaurant',
       'Taco Place', 'Bakery', 'Wings Joint', 'Deli / Bodega',
       'Pizza Place', 'Italian Restaurant', 'Salad Place',
       'Fried Chicken Joint', 'Mediterranean Restaurant', 'Coffee Shop',
       'Steakhouse', 'Brewery', 'Burger Joint', 'Diner', 'Gastropub',
       'Sushi Restaurant', 'Food Truck', 'Sports Bar',
       'Seafood Restaurant', 'French Restaurant', 'Thai Restaurant'],
      dtype=object)

In [12]:
fast_food_list = ['Fast Food Restaurant']

In [13]:
fast_food = fast_food.loc[fast_food['Venue Category'].isin(fast_food_list)]
fast_food.head()

                 Venue   Latitude  Longitude        Venue Category
0          Chick-fil-A  39.197625 -76.818496  Fast Food Restaurant
2            Five Guys  39.194824 -76.818855  Fast Food Restaurant
3  Qdoba Mexican Grill  39.199208 -76.819599  Fast Food Restaurant
4          Chick-fil-A  39.235150 -76.814688  Fast Food Restaurant
5         Jimmy John's  39.199634 -76.812755  Fast Food Restaurant

In [14]:
fast_food.shape

(1096, 4)

In [15]:
fast_food = fast_food.assign(food_group = 'Fast Food')
fast_food.head()

                 Venue   Latitude  Longitude        Venue Category food_group
0          Chick-fil-A  39.197625 -76.818496  Fast Food Restaurant  Fast Food
2            Five Guys  39.194824 -76.818855  Fast Food Restaurant  Fast Food
3  Qdoba Mexican Grill  39.199208 -76.819599  Fast Food Restaurant  Fast Food
4          Chick-fil-A  39.235150 -76.814688  Fast Food Restaurant  Fast Food
5         Jimmy John's  39.199634 -76.812755  Fast Food Restaurant  Fast Food

#### Convenience store data

In [16]:
url_convenience = 'https://raw.githubusercontent.com/kansjs/IBM_applied_capstone_share/master/Convenience.2.9.20.csv'
convenience = pd.read_csv(url_convenience)
convenience.head()

         Venue   Latitude  Longitude     Venue Category
0  Royal Farms  39.189040 -76.795969  Convenience Store
1     7-Eleven  39.227907 -76.812777  Convenience Store
2     7-Eleven  39.236512 -76.799396  Convenience Store
3  Royal Farms  39.226619 -76.817127  Convenience Store
4        Shell  39.215789 -76.804537  Convenience Store

In [17]:
convenience.shape

(1036, 4)

In [18]:
convenience['Venue Category'].unique()

array(['Convenience Store', 'Sandwich Place', 'Gas Station',
       'Supermarket', 'Discount Store', 'Grocery Store', 'Deli / Bodega',
       'Shopping Mall', 'German Restaurant', 'Pharmacy', 'Liquor Store',
       'Chinese Restaurant', 'Coffee Shop', 'Car Wash', 'Office',
       'Automotive Shop'], dtype=object)

In [19]:
convenience_list = ['Convenience Store', 'Grocery Store', 'Deli / Bodega']

In [20]:
convenience = convenience.loc[convenience['Venue Category'].isin(convenience_list)]
convenience.head()

         Venue   Latitude  Longitude     Venue Category
0  Royal Farms  39.189040 -76.795969  Convenience Store
1     7-Eleven  39.227907 -76.812777  Convenience Store
2     7-Eleven  39.236512 -76.799396  Convenience Store
3  Royal Farms  39.226619 -76.817127  Convenience Store
4        Shell  39.215789 -76.804537  Convenience Store

In [21]:
convenience.shape

(950, 4)

In [22]:
convenience = convenience.assign(food_group = 'Convenience')
convenience.head()

         Venue   Latitude  Longitude     Venue Category   food_group
0  Royal Farms  39.189040 -76.795969  Convenience Store  Convenience
1     7-Eleven  39.227907 -76.812777  Convenience Store  Convenience
2     7-Eleven  39.236512 -76.799396  Convenience Store  Convenience
3  Royal Farms  39.226619 -76.817127  Convenience Store  Convenience
4        Shell  39.215789 -76.804537  Convenience Store  Convenience

#### Dollar store data

In [23]:
url_dollar = 'https://raw.githubusercontent.com/kansjs/IBM_applied_capstone_share/master/Discount.2.9.20.csv'
dollar = pd.read_csv(url_dollar)
dollar.head()

                Venue   Latitude  Longitude       Venue Category
0      Nordstrom Rack  39.195553 -76.811755       Discount Store
1       Linq Services  39.190040 -76.747227       Discount Store
2         Hobby Lobby  39.183617 -76.816762          Fabric Shop
3          Five Below  39.155372 -76.725045       Discount Store
4  Nike Factory Store  39.157145 -76.724887  Sporting Goods Shop

In [24]:
dollar.shape

(187, 4)

In [25]:
dollar = dollar[dollar['Venue'].str.contains('Dollar')]
dollar.head()

          Venue   Latitude  Longitude  Venue Category
6   Dollar Tree  39.130623 -76.741255  Discount Store
7   Dollar Tree  39.152376 -76.724854  Discount Store
8   Dollar Tree  39.169805 -76.785313  Discount Store
10  Dollar Tree  39.168411 -76.785727  Discount Store
12  Dollar Tree  39.186829 -76.841552  Discount Store

In [26]:
dollar.shape

(115, 4)

In [27]:
dollar = dollar.assign(food_group = 'Dollar')
dollar.head()

          Venue   Latitude  Longitude  Venue Category food_group
6   Dollar Tree  39.130623 -76.741255  Discount Store     Dollar
7   Dollar Tree  39.152376 -76.724854  Discount Store     Dollar
8   Dollar Tree  39.169805 -76.785313  Discount Store     Dollar
10  Dollar Tree  39.168411 -76.785727  Discount Store     Dollar
12  Dollar Tree  39.186829 -76.841552  Discount Store     Dollar

#### Data merge

In [28]:
DMV_merged = supermarket.copy()
DMV_merged = DMV_merged.append(fast_food)
DMV_merged = DMV_merged.append(convenience)
DMV_merged = DMV_merged.append(dollar)
DMV_merged.head()

                      Venue   Latitude  Longitude Venue Category   food_group
0              Trader Joe's  39.188164 -76.795467    Supermarket  Supermarket
1                    Target  39.197493 -76.813360  Big Box Store  Supermarket
2                     Giant  39.210065 -76.778580    Supermarket  Supermarket
3  Green Valley Marketplace  39.206965 -76.729124    Supermarket  Supermarket
4                   Safeway  39.251080 -76.818721    Supermarket  Supermarket

In [29]:
DMV_merged.shape

(2464, 5)

In [30]:
DMV_merged.to_csv('DMV_food 2.9.20.csv', index=False)