In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [2]:
url_dmv = 'https://raw.githubusercontent.com/kansjs/IBM_applied_capstone_share/master/DMV_grid2.csv'
dmv_grid = pd.read_csv(url_dmv)
dmv_grid.head()

    Lat1      Long1       Lat2      Long2
0  39.27 -76.710000  39.187143 -76.833333
1  39.27 -76.833333  39.187143 -76.956667
2  39.27 -76.956667  39.187143 -77.080000
3  39.27 -77.080000  39.187143 -77.203333
4  39.27 -77.203333  39.187143 -77.326667

In [3]:
dmv_grid.shape

(42, 4)

In [2]:
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [5]:
categoryId = '4d954b0ea243a5684a65b473'
LIMIT = 100

In [6]:
def getNearbyVenues(latitude1, longitude1, latitude2, longitude2):
    venues_list=[]
   
    for Lat1, Long1, Lat2, Long2 in zip(latitude1, longitude1, latitude2, longitude2):
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&intent=browse&ne={},{}&sw={},{}&limit={}&categoryId={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            Lat1, 
            Long1, 
            Lat2,
            Long2,
            LIMIT,
            categoryId)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = [
                  'Venue', 
                  'Latitude', 
                  'Longitude',
                  'Venue Category']
    
    return(nearby_venues)

In [7]:
Convenience = getNearbyVenues(latitude1 = dmv_grid['Lat1'], 
                               longitude1 = dmv_grid['Long1'], 
                               latitude2 = dmv_grid['Lat2'], 
                               longitude2 = dmv_grid['Long2']
                                  )

In [8]:
Convenience.head()

         Venue   Latitude  Longitude     Venue Category
0  Royal Farms  39.189040 -76.795969  Convenience Store
1     7-Eleven  39.227907 -76.812777  Convenience Store
2     7-Eleven  39.236512 -76.799396  Convenience Store
3  Royal Farms  39.226619 -76.817127  Convenience Store
4        Shell  39.215789 -76.804537  Convenience Store

In [9]:
Convenience.shape

(1036, 4)

In [10]:
Convenience.to_csv('Convenience.2.9.20.csv', index=False)